<div id="Admission" class="tab-div">
    <div class="full-column">

        <% const encounterList = JSON.parse(encounterresources);
        const admissionDates = {}; 
        
        encounterList.forEach((encounter) => {
            if (encounter.admission_date) {
                const defaultObject = {
                    admission_specialty: '',
                    admission_careProvider: '',
                    admission_method: '',
                    admission_source: '',
                    admission_ward: '',
                    discharge_specialty: '',
                    discharge_careProvider: '',
                    discharge_method: '',
                    discharge_date: '',
                    discharge_ward: ''
                };
        
                admissionDates[encounter.admission_date.replace('T', ' ')] = Object.assign(defaultObject, encounter);
        
            }
        });%>
        <div class="block">
            <label>
                <h3>Admission Details</h3>
            </label>
        </div>

        <div class="block">
            <label>Admission Date:</label>
            <select class="input" id="admission_date" name="admission_date">
                <%
                Object.keys(admissionDates).sort().forEach((admission) => {
                    let attributes = `onclick="changeAdmission('${admissionDates[admission].admission_specialty}',
                        '${admissionDates[admission].admission_method}', '${admissionDates[admission].admission_careProvider}',
                        '${admissionDates[admission].admission_ward}', '${admissionDates[admission].admission_source}',
                        '${admissionDates[admission].discharge_date}', '${admissionDates[admission].discharge_specialty}',
                        '${admissionDates[admission].discharge_method}', '${admissionDates[admission].discharge_careProvider}',
                        '${admissionDates[admission].discharge_ward}');"`;

                    if (typeof admission_date !== 'undefined' && admission_date === admission) {
                        attributes += ' selected';
                    } else {
                        attributes += '';
                    }
                %>
                <option value="<%=admission%>" <%-attributes%>><%=admission%>
                </option>
                <% })
                %>
            </select>
        </div>

        <div class="block">
            <label>Admitting Specialty:</label>
            <input class="input disabled" type="text" id="admission_specialty" name="admission_specialty"
                value="<%- typeof admission_specialty !== 'undefined' ? admission_specialty : '' %>" readonly />
        </div>

        <div class="block">
            <label>Admission Method:</label>
            <input class="input disabled" type="text" id="admission_method" name="admission_method"
            value="<%- typeof admission_method !== 'undefined' ? admission_method : '' %>" readonly />
        </div>

        <div class="block">
            <label>Admitting Consultant:</label>
            <input class="input disabled" type="text" id="admission_careProvider" name="admission_careProvider"
                value="<%- typeof admission_careProvider !== 'undefined' ? admission_careProvider : '' %>" readonly />
        </div>

        <div class="block">
            <label>Admitting Ward:</label>
            <input class="input disabled" type="text" id="admission_ward" name="admission_ward"
                value="<%- typeof admission_ward !== 'undefined' ? admission_ward : '' %>" readonly />
        </div>

        <div class="block">
            <label>Source of Admission:</label>
            <input class="input disabled" type="text" id="admission_source" name="admission_source"
                value="<%- typeof admission_source !== 'undefined' ? admission_source : '' %>" readonly />
        </div>
    </div>
    <% include save_section.ejs %>
</div>